.error{
    top: 12em;
    width: 0.5em;
    font-size: 7em;
    list-style: none;
    margin: 0em 0em;
    padding: 0em;
    text-align: center;
    z-index: 1;
    position: absolute;
}
.error li{
    background-color:red;
    opacity: 0.80;
    color:white;
    padding: 0em;
    margin: 0px;
    margin-left: 20em;
    width: 6em;
}
